.frame {
  padding: 2em;
  width: fit-content;
  background-color: #46B19D;
  border-radius: 5px;
  margin: 1em auto;
}

.board {
  display: grid;
  max-width: 80vh;
  width: 80vw;
  border: 1px solid lightgray;
  background: lightgray;
  gap: 1px;

  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.square {
  aspect-ratio: 1 / 1;
  background: white;
}

.buttons-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}